<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block titlebar %}{% endblock %} - Udacious Product Catalog</title>
    {% endblock %}
  </head>
  <body>
  <div id="container">
  <div id="header">
    <div id="banner">Udacious Product Catalog</div>
  {% block login %}
      <div id="logininfo">
      {% if session.get('user_id')  %}
      <label><strong>Logged in as {{session.get('username')}}</strong></label>
        <a href='/logout'><button class="btn">Logout</button></a>
      {% else %}
      <a href='/login'><button class="btn">Login</button></a>
      {% endif %}
      </div> <!-- end logininfo -->
    {% endblock %}
  </div> <!-- end header -->
    <div id="content">
        {% block content %}{% endblock %}
    </div> <!-- end content -->
</div> <!-- end container -->
    <div id="footer">
      {% block footer %}
      Udacity Full Stack Nanodegree <a href="/catalog">Catalog Home</a>
      {% endblock %}
  </div> <!-- end footer -->
  </body>
</html>
